/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size:63.5%;
}


body {
  font-family: "lato", sans-serif;
  line-height: 1.7;
  /* font-size: 1.6rem; */
  font-weight: 400;
  color: #777;
  padding: 3rem;
}

.header {
  /* vh is viewport height which is relative to size of viewport/browser size */
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  /* clip polygon  starts from to left and moves in clockwise direction */
  clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 3rem;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* hides the shakiness  from animations*/
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary-main {
  display: block;
  font-weight: 400;
  font-size: 6rem;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* animation-iteration-count: 3; */
  /* animation-delay: 3s; */
}

.heading-primary-sub {
  display: block;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1.75rem;
  animation: ease-out 1s moveInRight;
}

/* used for animating the header  */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

 

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* Button */

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;

}

.btn:hover {
  transform: translateY(-.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-.1rem);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: white;
  color: #777;
}

/* adding animation to hover button */

.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  /* makes a new line with button content hello */
  display: inline-block;
  /* relative position is against .btn:link,.btn:visited line 121 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white:after {
  background-color: #fff;
}

.btn:hover::after {
  z-index: 1;
  transform: scaleX(1.4)  scaleY(1.6);
  opacity: 0;

}

.btn-animated{
  animation: ease-out .5s moveInBottom .75s;
  animation-fill-mode: backwards;
}